.card {
     position: relative;
}

.card img {
     height: 75px;
     width: 75px;
     display: block;
     border: 2px solid #fff;
     border-radius: 6px;
}

.card {
     height: 75px;
     width: 75px;
     border: 2px solid #fff;
     border-radius: 6px;
     text-align:center;
     

}

.card .front {
     transform: rotateY(90deg);
     transition: all ease-in 0.2s;
     position: absolute;
     font-size: xx-large;
     align-content: center; 
     
}

.flipped .front {
     transform: rotateY(0deg);
     transition-delay: 0.2s;
}

.card .back {
     transition: all ease-in 0.8s;
     transition-delay: 0.2s;
}

.flipped .back {
     transform: rotateY(90deg);
     transition-delay: 0s;
}