.card {
     position: relative;
}
.card img{
     height: 40px;
     width: 40px;
     display: block;
     border: 2px solid #fff;
     border-radius: 6px;
}
.card-front {
     height: 40px;
     width: 40px;
     display: block;
     border: 2px solid #fff;
     border-radius: 6px;

}